* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
    --brand-color: #8257e6;
    --dark-10: #13131f;
    --dark-20: #282830;
    --dark-30: #c4c4c4;
    --dark-40: #fefbfb;
    --support-01: #2962ff;
    --support-02: #0bb07b;
    --support-03: #ffce52;
    --support-04: #f03d3d;
    --support-05: #e0e0e0;
}
  
body {
    background-color: var(--dark-10);
}
  
header {
    display: flex;
    height: 14vh;
    justify-content: center;
    align-items: center;
}
  
header section {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
}
  
nav {
    display: flex;
    width: 52vw;
    justify-content: flex-end;
}
  
ul {
    display: flex;
    width: 36vw;
    justify-content: space-between;
    list-style: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

li {
    border-top: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    padding: 2px;
}

#home {
    border-top: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 2px solid var(--brand-color);
    padding: 2px;
}
  
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--brand-color);
}
  
header h2 {
    color: var(--brand-color);
    font-family: "Lexend Deca", sans-serif;
    font-size: 24px;
}
  
header h3 {
    border: solid 1px var(--brand-color);
    padding: 5px 20px;
    border-radius: 30px;
    color: white;
    font-family: "Lexend Deca", sans-serif;
    font-size: 14px;
    width: 133px;
}

.conta:hover {
    color: var(--brand-color);
  }

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1 {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-top: 7vh;
}

.box1 h1 {
    color: var(--dark-40);
    font-family: "Lexend Deca", sans-serif;
    font-size: 48px;
    line-height: 60px;
    width: 324px;
    margin-bottom: 2vh;
}
  
.box1 p {
    color: var(--dark-30);
    line-height: 32px;
    width: 500px;
    font-size: 20px;
    font-family: "Lexend Deca", sans-serif;
}

.box2 {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    margin-top: 8vh;
}

.imagem02 {
    display: flex;
    flex-direction: column;
    width: 52vw;
    height: 64vh;
    background-image: linear-gradient(to bottom, #13131f00, #13131F), url("./assets/02.png");
    background-size: 100% 100%;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 0 8vh 0;
}

.etiqueta-big {
    width: 90%;
}

.etiqueta-big h3 {
    display: flex;
    background-color: var(--brand-color);
    color: var(--dark-40);
    width: 80px;
    height: 25px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "Lexend Deca";
}

.imagem02 p {
    color: var(--dark-40);
    font-size: 24px;
    line-height: 34px;
    font-family: "Lexend Deca";
    width: 90%;
}

.div-box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagem01 {
    display: flex;
    background-image: linear-gradient(to bottom, #13131f00, #13131F), url("./assets/01.png");
    background-size: 100% 100%;
    width: 26vw;
    height: 30vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0 2vh 0;
}

.imagem07 {
    display: flex;
    background-image: linear-gradient(to bottom, #13131f00, #13131F), url("./assets/07.png");
    background-size: 100% 100%;
    width: 26vw;
    height: 30vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0 2vh 0;
}

.etiqueta-mean {
    width: 90%;
}

.etiqueta-mean h3 {
    display: flex;
    background-color: var(--brand-color);
    color: var(--dark-40);
    width: 70px;
    height: 20px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: "Lexend Deca";
}

.p-size-14 {
    color: var(--dark-40);
    font-size: 14px;
    line-height: 20px;
    font-family: "Lexend Deca";
    width: 90%;
}

.etiqueta-small h3 {
    display: flex;
    background-color: var(--brand-color);
    color: var(--dark-40);
    width: 60px;
    height: 15px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: "Lexend Deca";
}

.box3 {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    margin-top: 8vh;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.noticia {
    display: flex;
}

.imagem16 {
    background-image: linear-gradient(to bottom, #13131f00, #13131F), url("./assets/16.png");
    background-position: center;
    background-size: cover;
    width: 13vw;
    height: 20vh;
    padding: 1.5vh;
}

.imagem15 {
    background-image: linear-gradient(to bottom, #13131f00, #13131F), url("./assets/15.png");
    background-position: center;
    background-size: cover;
    width: 13vw;
    height: 20vh;
    padding: 1.5vh;
}

.imagem09 {
    background-image: linear-gradient(to bottom, #13131f00, #13131F), url("./assets/09.png");
    background-position: left;
    background-size: cover;
    width: 13vw;
    height: 20vh;
    padding: 1.5vh;
}

.imagem05 {
    background-image: linear-gradient(to bottom, #13131f00, #13131F), url("./assets/05.png");
    background-position: center;
    background-size: cover;
    width: 13vw;
    height: 20vh;
    padding: 1.5vh;
}

.imagem14 {
    background-image: linear-gradient(to bottom, #13131f00, #13131F), url("./assets/14.png");
    background-position: center;
    background-size: cover;
    width: 13vw;
    height: 20vh;
    padding: 1.5vh;
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    margin-left: 1.5vw;
}

.noticia img {
    width: 14vw;
}

.descricao h3 {
    font-family: "Lexend Deca";
    font-size: 13px;
    line-height: 20px;
    color: var(--dark-40);
}

.noticia p {
    font-family: "Inter";
    font-size: 11px;
    line-height: 16px;
    color: var(--dark-30);
}

.noticia h4 {
    font-family: "Lexend Deca";
    font-size: 10px;
    line-height: 20px;
    color: var(--dark-40);
}

.noticia button {
    background-color: var(--brand-color);
    color: var(--dark-40);
    font-family: "Inter";
    font-size: 11px;
    line-height: 20px;
    width: 100px;
    height: 25px;
    border-radius: 3px;
    border: none;
}

.container2 img {
    width: 24vw;
    margin-top: 8vh;
}

.imagem03 {
    display: flex;
    background-image: linear-gradient(to bottom, #13131f00, #13131F), url("./assets/03.png");
    background-size: 100% 100%;
    width: 26vw;
    height: 34vh;
    margin-top: 4vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0 2vh 0;
}

.imagem06 {
    display: flex;
    background-image: linear-gradient(to bottom, #13131f00, #13131F), url("./assets/06.png");
    background-position: right;
    background-size: cover;
    width: 26vw;
    height: 34vh;
    margin-top: 6vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0 2vh 0;
}

.imagem11 {
    display: flex;
    background-image: linear-gradient(to bottom, #13131f00, #13131F), url("./assets/11.png");
    background-size: 100% 100%;
    width: 26vw;
    height: 34vh;
    margin-top: 6vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0 2vh 0;
}

.container2 h2 {
    display: inline;
    font-family: "Lexend Deca";
    font-size: 24px;
    line-height: 20px;
    color: var(--dark-40);
    border-bottom: 3px solid var(--brand-color);
    padding: 6px 0;
}

.box4 {
    display: flex;
    width: 80vw;
    flex-direction: column;
    margin-top: 10vh;
    align-items: start;
}

.box4 h2 {
    font-family: "Lexend Deca";
    font-size: 24px;
    line-height: 20px;
    color: var(--dark-40);
    border-bottom: 3px solid var(--brand-color);
    padding: 8px 0;
}

.imagem17 {
    display: flex;
    background-image: linear-gradient(to bottom, #13131f00, #13131F), url("./assets/17.png");
    background-size: cover;
    width: 25vw;
    height: 32vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0 2vh 0;
}

.imagem10 {
    display: flex;
    background-image: linear-gradient(to bottom, #13131f00, #13131F), url("./assets/10.png");
    background-size: cover;
    width: 25vw;
    height: 32vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0 2vh 0;
}

.imagem19 {
    display: flex;
    background-image: linear-gradient(to bottom, #13131f00, #13131F), url("./assets/19.png");
    background-size: cover;
    width: 25vw;
    height: 32vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0 2vh 0;
}

.imagem13 {
    display: flex;
    background-image: linear-gradient(to bottom, #13131f00, #13131F), url("./assets/13.png");
    background-size: cover;
    width: 25vw;
    height: 32vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0 2vh 0;
}

.imagem20 {
    display: flex;
    background-image: linear-gradient(to bottom, #13131f00, #13131F), url("./assets/20.png");
    background-size: cover;
    width: 25vw;
    height: 32vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0 2vh 0;
}

.imagem04 {
    display: flex;
    background-image: linear-gradient(to bottom, #13131f00, #13131F), url("./assets/04.png");
    background-size: cover;
    width: 25vw;
    height: 32vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0 2vh 0;
}

.sub-box4 {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    margin-top: 6vh;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin-top: 4vh;
}

footer h2 {
    color: var(--brand-color);
    font-family: "Lexend Deca";
    font-size: 24px;
    line-height: 30px;
}

footer p {
    color: var(--dark-30);
    font-family: "Inter";
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 500px;
    margin-top: 2vh;
}